<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contact Us</h1>
<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/xrbggyjz"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label><br/>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label><br/>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
</body>
</html>